.env
.env.example
create_test_user_recepcionista.py
create_users_alexa_balbina.py

# PyInstaller
build/
dist/
build_onefile/
*.spec
*.exe

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db